body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.navbar {
    margin-bottom: 40px;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card .card-title {
    color: #333;
}

.project-card .card-text {
    margin-bottom: 15px;
}
