body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;

}
.navbar {
    margin-bottom: 40px;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}

header.dark-mode {
    background-color: #212121;
    color: #e0e0e0;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card.dark-mode {
    background-color: #212121;
    color: #e0e0e0;
}

.project-card .card-title {
    color: #333;
}

.project-card .card-text {
    margin-bottom: 15px;
}

.project-card.dark-mode .card-title,
project-card.dar-mode .card-text {
    color: #e0e0e0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    right: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(36px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}